<div class="collapse navbar-collapse col-md-9 navbar-links" id="navbar-collapsing">
    <ul class="nav navbar-nav">
        <li>
            <a href="introduction">Documentation</a>
        </li>
    </ul>
</div>
