body {
  padding-top: 71px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5em;
  background-color: #FFF;
}

[contenteditable]:focus {
  outline: none;
}

blockquote {
  border-right: 1px solid #FAEBCC;
  border-top: 1px solid #FAEBCC;
  border-bottom: 1px solid #FAEBCC;
  border-left: 8px solid #FAEBCC;
  background-color: #fcf8e3;
  font-size: 13px;
}

code {
  font-size: inherit;
}

a, a:hover, a:focus {
  color: #008cb3;
  background-color: transparent;
}

a:focus {
  outline: 1px dotted rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: helvetica neue, Helvetica, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 500;
  margin: 1em 0 1em;
}

h1, h2 {
  color: #555;
}

/* When scrollingg to anchors, offset the anchor from the page top by X pixels */
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-top: -90px;
  padding-top: calc(90px + 1em);
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
  padding-top: 0;
}


h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6,
h1 + h3, h2 + h4, h3 + h5, h4 + h6 {
  padding-top: 90px !important;
}


/*-------------------------------
  MAIN MENU
-------------------------------*/

#mainMenu {
  border: none;
  outline: none;
  padding: 5px 0;
  color: #666;
  border-top: 10px solid #7278a1;
  background-color: hsl(224, 21%, 98%);
  border-bottom: 1px solid #EEE;
  min-height: 71px;
}

.theme2 #mainMenu,
#mainMenu[data-scroll="1"] {
  box-shadow: 0 1px 3px #d4d8e3;
  border-bottom: none;
}

#mainMenu .navbar-nav > li > a {
  text-transform: uppercase;
  color: inherit;
  font-size: 13px;
  font-weight: 300;
  border-bottom: 1px solid transparent;
}

#mainMenu .navbar-nav > li.active > a {
  font-weight: 600;
}

#mainMenu .navbar-nav > .active > a,
#mainMenu .navbar-nav > .active > a:focus,
#mainMenu .navbar-nav > .active > a:hover {
  color: inherit;
  background-color: transparent;
}

#mainMenu .navbar-nav > li > a:focus,
#mainMenu .navbar-nav > li > a:hover {
  color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#mainMenu a:focus {
  outline: 1px dotted rgba(0, 0, 0, 0.2);
}

.navbar-links {
  float: right;
}

.navbar-toggle {
  position: absolute;
  right: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

#mainMenu .navbar-collapse, #mainMenu .navbar-form {
  border-color: #FFF;
}

.navbar-brand {
  padding-right: 0;
  padding-left: 30px;
  white-space: nowrap;
}

.navbar-brand span {
  font-size: 20px;
  color: #666;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar-brand i {
  color: #666;
  margin-right: 10px;
  font-size: 20px;
}

@media (max-width: 767px) {

  .navbar-links {
    float: none;
  }

  #mainMenu .navbar-collapse {
    border: none;
  }

  .navbar-links .navbar-nav {
    margin-left: 0;
  }

  #mainMenu .navbar-links .nav > li {
    float: left;
  }

  .navbar-brand {
    padding-left: 0;
  }

}

/*-------------------------------
  HOME PAGE MAIN MENU
-------------------------------*/

.index-page {
  padding-top: 0;
}

.index-page #mainMenu {
  position: relative;
  background: transparent;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  margin-bottom: -15px;
  box-shadow: none;
}

.index-page #mainMenu .navbar-nav > li.active > a {
  color: #FFF;
  font-weight: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.index-page .navbar-brand span {
  color: #DDD;
}

.index-page .navbar-brand i {
  color: #DDD;
}

.index-page .navbar-default .icon-bar {
  background-color: #FFF;
}

.index-page #mainMenu .navbar-nav > li > a:focus,
.index-page #mainMenu .navbar-nav > li > a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.index-page #mainMenu a:focus {
  outline: 1px dotted rgba(255, 255, 255, 0.2);
}

/*-------------------------------
  SIDE BAR
-------------------------------*/

.sidebar-nav {
  padding: 5px 30px;
  line-height: 1.2em;
  margin-top: 10px;
}

.sidebar-nav h1 {
  display: none;
}

.sidebar-nav h2 {
  margin: 17px 0 12px 0;
  cursor: default;
  font-weight: 500;
  text-transform: uppercase;
  color: #444;
  font-size: 14px;
  font-family: 'Exo 2', sans-serif;
  padding-bottom: 10px;
  border-bottom: 1px dashed #DDD;
}

.sidebar-nav h2:first-of-type {
  padding-top: 0 !important;
}

.sidebar-nav ul {
  margin-bottom: 25px;
}

.sidebar-nav li {
  font-size: 13px;
}

.sidebar-nav li > a {
  padding: 2px 0;
}

.sidebar-nav li > a:hover,
.sidebar-nav li > a:focus,
.sidebar-nav li.active > a {
  color: #C88;
  background-color: transparent;
}

.sidebar-nav li.active > a {
  text-decoration: underline;
}

.sidebar-nav li > ul {
  margin-left: 15px;
  margin-bottom: 0;
}

/*-------------------------------
  CONTENT AREA
-------------------------------*/

#workspace {
  border-left: 1px solid #EEE;
  padding: 0;
}

#page {
  padding: 40px 30px 90px 30px;
  /*background-color: #FFF;*/
  /*border: 1px solid #e7e7e7;*/
  text-align: justify;
}

.content > hr {
  margin: 20px 0;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

:not(pre) > code {
  color: #D45959;
  background: transparent;
  padding: 0;
}

pre {
  /*border: 1px solid #EEE;*/
  border: none;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 15px;
  padding-right: 15px;
  margin: 2.25em 0 !important;
  border-radius: 0;
  background: #F8F8F8 !important;
}

blockquote pre {
  margin: 0 !important;
}

code[class*=language-] .line-numbers-rows, pre[class*=language-] .line-numbers-rows {
  background: #f0f2f1;
  padding: 15px 0;
  top: -18px;
  line-height: 1.5;
  width: 3em;
}

pre[class*=language-] {
  padding-left: 4.5em !important;
}

.line-numbers-rows {
  border-right-color: #e8e8e8 !important;
  left: -4.5em !important;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #BBB !important;
  display: block;
  padding-right: .8em;
  text-align: right;
}

/* Language label */
pre[lang]:before {
  content: attr(lang);
  color: #aaa;
  background-color: #f0f2f1;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
  /*border-radius: 0 0 0 5px;*/
  padding: 2px 0.7em 0;
  border: 1px solid #e8e8e8;
  text-shadow: none;
  z-index: 1;
}

/*-------------------------------
  FOOTER
-------------------------------*/

.footer {
  padding: 30px 0;
}

/*-------------------------------
  HOME PAGE
-------------------------------*/

.home {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -234px; /* overflow the page's top to include space for mobile menu when it opens. */
  height: 100%;
}

/* Main marketing message and sign up button */
#intro {
  /*background: linear-gradient(45deg, #3d4375 0%, #797fab 100%);*/
  background: linear-gradient(45deg, rgba(61, 67, 117, 0.95) 0%, rgba(121, 127, 171, 0.95) 100%), url(../i/electro9.png) center 35% no-repeat;
  background-size: 2200px;
  color: #FFF;
  padding: 288px 15px 60px;
  text-align: center;
}

#intro-content {
  margin: 0 auto;
  width: 900px;
}

#logo {
  display: block;
  float: left;

}

#introText {
  /*display: inline-block;*/
  /*margin-left: 30px;;*/
  /*text-align: left;*/
  vertical-align: middle;
  margin-top: 30px;
}

#intro h1 {
  display: inline-block;
  color: #FFF;
  font-size: 100px;
  line-height: 1;
  margin-bottom: 45px;
  margin-top: 30px;
  padding-left: 15px;
  font-weight: 100;
  font-family: helvetica neue, Helvetica, sans-serif;
  letter-spacing: 9px;
  text-shadow: 0 0 10px #fff;
}

#intro .lead {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: helvetica neue, Helvetica, sans-serif;
}

#callToAction {
  text-align: center;
  margin-top: 45px;
}

#intro .btn {
  padding: 14px 24px;
  background-color: #6970A7;
  border-color: #4F557D;
  min-width: 162px;
}
#intro .btn-primary {
  background-color: #313853;
}

#homeContent {
  padding-top: 50px;
  padding-bottom: 50px;
}

#homeContent strong {
  font-weight: 400;
}

#homeContent h4 {
  font-weight: 400;
  margin-bottom: 25px;
}

/*-------------------------------
  THEME 2
-------------------------------*/

.theme2 #sidebar > .sidebar-nav {
  background-color: #FFF;
  position: fixed;
  left: 0;
  top: 71px;
  bottom: 0;
  margin-top: 0;
  width: 240px;
  overflow: auto;
  border-right: 1px solid #EEE;
}

.theme2 .navbar-brand {
  padding-left: 25px;
}


body.theme2:not(.index-page) {
  background-color: #f3f4f7;
  /*background-color: #ECEFF1;*/
}

.theme2 #page {
  box-shadow: 0 1px 0 #c5cad8, 0 2px 3px #d4d8e3;
  background-color: #FFF;
}

.theme2 #workspace {
  border: none;
  padding-top: 25px;;
}

.theme2:not(.index-page) .navbar-header {
  position: absolute;
  left: 6px;
  right: 0;
}

@media (max-width: 767px) {

  .theme2:not(.index-page) .navbar-links {
    margin-top: 56px;
  }

}

@media (max-width: 991px) {

  .theme2 #sidebar > .sidebar-nav {
    display: none;
  }

}

/*-------------------------------
  RESPONSIVE
-------------------------------*/

@media (max-width: 767px) {

  #page {
    /*padding-left: 0;*/
    /*padding-right: 0;*/
  }
}

@media (min-width: 1200px) {

  #page {
    /*padding-left: 0;*/
    /*padding-right: 0;*/
  }
}

